/* Coolors Exported Palette - coolors.co/011627-2ec4b6-fffcff-e71d36-ff9f1c */

/* RGB */
$black: rgba(1, 22, 39, 1);
$green: rgba(46, 196, 182, 1);
$white: rgba(255, 252, 255, 1);
$red: rgba(231, 29, 54, 1);
$orange: rgba(255, 159, 28, 1);